.primary-btn{

    display:inline-flex;
    align-items:center;
    justify-content:center;

    margin-top:32px;

    padding:16px 36px;

    border:none;
    border-radius:999px;

    background:linear-gradient(
        135deg,
        #2F3E52,
        #465A73
    );

    color:white;

    font-size:16px;
    font-weight:600;

    cursor:pointer;

    box-shadow:
        0 12px 25px rgba(47,62,82,.25);

    transition:all .3s ease;
}

.primary-btn:hover{

    transform:
        translateY(-4px)
        scale(1.02);

    box-shadow:
        0 20px 40px rgba(47,62,82,.35);
}

.primary-btn:active{

    transform:scale(.97);

}